{
    "plugins": [
      [
        "module-resolver",
        {
          "cwd": "babelrc",
          "root": ["./src"],
          "extensions": [".js","ts" ,".ios.js", ".android.js",".jsx","tsx"],
          "alias": {
            "@assets": "./src/assets",
            "@icons": "./src/assets/icons",
            "@components": "./src/components",
            "@navigation": "./src/navigation",
            "@core": "./src/core",
            "@screens": "./src/screens"
          }
        }
      ]
    ]
  }